/* small device / mobile */

@media screen and (max-width: 600px) {
    .banner-items h1 {
        font-size: 2rem;
    }

    .banner-items {
        padding: 26px;
    }

    .banner-items p {
        margin-top: 12px;
    }

    .banner-input-button {
        margin-top: 25px;
        height: 288px;
    }

    .banner {
        padding: 5px;
    }

    .banner-button {
        margin-bottom: 16px;
    }

    /* popular tour */
    .popular-tour {
        flex-direction: column;
        padding: 10px;
    }

    .popular-tour-content ul {
        padding: 20px;
    }

    .popular-tour-image img {
        margin-top: 20px;
    }

    /* .popular-tou-content{
       padding: 5px;
    }
    .popular-tour-image{
       padding: 5px;
    } */


    /* sponsor section */

    .maldive-indonesia {
        flex-direction: column;

    }

    .sri-north-kasmir {
        flex-direction: column;

    }

    .bangladesh-bandarban {
        flex-direction: column;

    }

    .image-container {
        margin-left: 10px;
    }

    .image-container img {
        width: 300px;
        height: 150px;
        padding: 10px;
    }

    .choose-us-cards {
        flex-direction: column;
    }

    .choose-us .card {
        width: 335px;
        height: 289px;
        padding: 5px;
    }
    .third {
        left: 0;
    }

    /* .grid{
        width: 100%;
        
    }
    .item1{
        grid-column: 1 /span 12;
       
        
     
    }      
    
    .item2{
        grid-column: 1 /span 12;

        
    }
    .item3{
        grid-column: 1 /span 12;

      
    }
    .item4{
        grid-column: 1 / span 12;

        
    }
    .item5{
        grid-column: 1 / span 12;

      
    }
    .item6{
        grid-column: 1 / span 12;

        
    }
    .item7{
        grid-column: 1 /span 12;

      
    }
    

      
    }     */